$white1: rgba(255, 255, 255, 0.911);
$dark1: rgba(27, 26, 26, 0.911);

$opac-white: rgba(255, 255, 255, 0.589);
$opac-dark: rgba(0, 0, 0, 0.534);

$linear-dark: rgba(0, 0, 0, 0.089);
$linear-light: rgba(243, 252, 241, 0.884);